:root{
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

}

body{
    background-color: var(--Pale-blue);
    font-family: Hanken Grotesk;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
}

p{
    margin: 0;
}

main{
    display: flex;
    margin: auto;
    background-color: var(--White);
    border-radius: 25px;
    max-width: 750px;
}


.result-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(180deg, var(--Light-slate-blue) 0%, var(--Light-royal-blue) 100%);
    color: var(--White);
    padding: 30px;
    text-align: center;
}

.mark-container{
    border-radius: 100%;
    background: linear-gradient(0deg, var(--Persian-blue) 0%, var(--Violet-blue) 100%);
    padding: 40px;
    width: 100px;
    margin: 15px 10px;
}

.mark-container h1{
    font-size: 3.5rem;
    margin: 0;
}

.info-text{
    color: var(--Pale-blue);
    font-weight: bold;
    opacity: 0.5;
}


.summary-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.summary-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 15px 10px;
    color: var(--Dark-gray-blue);
}

.summary-card span{
   opacity: 0.5;
}

/*Card Styles*/
.reaction-card{
    background-color: hsla(0, 100%, 98%);
}
.reaction-card .card-name{
    color: var(--Light-red);
}
.memory-card{
    background-color: hsl(39, 100%, 98%);
}
.memory-card .card-name{
    color: var(--Orangey-yellow);
}
.verbal-card{
    background-color: hsl(166, 100%, 98%);
}
.verbal-card .card-name{
    color: var(--Green-teal);
}
.visual-card{
    background-color: hsl(234, 85%, 98%);
}
.visual-card .card-name{
    color: var(--Cobalt-blue);
}

.card-name{
    margin-right: auto;
}

button{
    background: var(--Dark-gray-blue);
    border: none;
    padding: 15px 10px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

button:hover{
    background: linear-gradient(180deg, var(--Light-slate-blue) 0%, var(--Light-royal-blue) 100%);
}

img{
    height: 20px;
    margin-right: 10px;
}

@media (max-width: 550px) {
    main{
        flex-direction: column;
        margin: 0;
        padding: 0;
        border-radius: 0px;
    }

    .result-section, .summary-section{
        border-radius: 0px;
    }

    body{
        padding: 0;
    }

}
